/*******************
Common*
********************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 85%;
    margin: auto;
}

.container_small{
    width: 75%;
    margin: auto;
}

a ,p{
 font-size: 13px;
}





h4{
    padding: 30px 22px 20px;
    font-weight: 900;
    font-size: 22px;
}

img{
    width: 100%;
}

/*******************
Utility*
********************/
.button{
    display: inline-block;
    color: white;
    background-color: #0061FF;
    padding: 7px 18px;
    text-decoration: none;
    font-weight: 100;
    font-size: 13px;
}
.button.white_b{
    background-color: white;
    color: black;
    border: 1px solid black;;
}

a.black_color{
    color: black;
}

div[class^="col_"]{
    float: left;
}

.more a{
    color: #0061FF;
}



.container_small .title_2{
    font-size: 25px;
    font-weight: 900;
}

/*******************
Debug*
********************/



/*******************
Header*
********************/
#site_header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#site_header nav .navigation{
    width: 40%;
    text-align: center;
    padding: 2rem 0;
    
}

nav .navigation.left {
    float: left;
}

nav .navigation.right {
    float: right;
}


nav .navigation div,
nav .navigation .link a{
    display: inline-block;
}

nav .navigation div{
    vertical-align: middle;
}

nav .navigation .logo, nav .navigation .link a{
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
}



/*******************
Main*
********************/
#site_main{
    margin-top: 91.7px;
}


/*******************
Section_1*
********************/
#site_main .section_1{
    padding-top: 50px;
    background-color: #B4D0E7;
}

.section_1 .container.fisso{
    height: 607px;
}

.section_1 .container .title h1{
    font-size: 4.5rem;
    padding-bottom: 35px;
}

.section_1 .container .col_left{
    width: 30%;
}

.section_1 .container .col_left a{
    margin: 20px 0 10px 0 ;
}

.section_1 .container .col_left p{
    padding-right: 60px;
}

.section_1 .container .col_left .annulla{
    margin-bottom: 40px;
}

.section_1 .container .col_left i{
    transform: scale(2);
}

.section_1 .container .col_right{
    width: 70%;
}

.section_1 .container .col_right img{
    width: 100%; 
}

/*******************
Section_2*
********************/
#site_main .section_2{
    margin-top: 170px
}



.section_2 .container_small .fatturazione{
    padding: 50px 0 30px 0;
}
.section_2 .container_small .fatturazione label{
    padding-right: 10px;
}


/*Colonnato*/
.section_2 .container_small .colonnato{
    margin-bottom: 50px;
}
.section_2 .container_small .column{
    width: calc(33.33% - 43px);
    border: 1px solid lightgray;
    float: left;
}

.column *:not(a,span,ul,i, .content_column){
    padding: 0 22px 20px;
    font-size: 13px;
}

.container_small .column li{
    list-style-type: none;
}

.container_small .column.left ul{
    padding-bottom: 145px;
}

.container_small .column.central ul,
.container_small .column.right ul{
    padding-bottom: 111px;
}

.section_2 .container_small .column.central{
    margin: 0 64px;
}

.section_2 .container_small .column .title_col{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 13px;
    font-size: 17px;  
}

.section_2 .container_small .column .plane{
    font-size: 22px;
    font-weight: 600;
    padding: 30px 22px 20px;
}

.section_2 .container_small .column .price{
    padding-bottom: 15px;
    font-weight: 900;
}

.section_2 .container_small .column .description{
    color: #7B8894;
}
.section_2 .container_small .column .description,
.section_2 .container_small .column .funzioni{
    padding-bottom: 50px;
}

.section_2 .container_small .column .button.large{
    padding: 7px 20%;
}

.section_2 .container_small .column .punti_salienti{
    font-weight: 900;
}

.section_2 .container_small .column ul li>i{
    color: #0061FF;
}

#special{
    width: 30px;
    height: 1px;
    border-bottom: 1px solid lightgray;
    margin-left: 22px;
    margin-bottom: 40px;
}

/*team*/
.section_2 .container_small .team {
    border: 1px solid lightgray;
}

.section_2 .container_small .team .team_title{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px;
}

.section_2 .container_small .team .col_left{
    width: 80%;
}

.section_2 .container_small .team .col_left h5{
    font-weight: 900;
}

.section_2 .container_small .team .col_left h5,
.section_2 .container_small .team .col_left p{
    padding: 0 22px 24px;
}


.section_2 .container_small .team .col_right{
    width: 20%;
}

.section_2 .container_small .team .col_right .button{
    margin: 30px 0;
}


/*******************
Section_3*
********************/
#site_main .section_3,
#site_main .section_4{
    margin-top: 100px;
}
.section_3 .partner .container_small .col_left{
    width: 55%;
}

.partner .container_small .col_left img{
    padding-right: 40px;
    width: 100%;
    height: 450px;
}

.section_3 .partner .container_small .col_right{
    width: 45%;
}

.section_3 .partner .container_small .col_right p{
    padding: 0px 120px 24px 22px;
    line-height: 20px;
}

.section_3 .partner .container_small .col_right .button.white_b{
    margin: 0 22px;
}


/*******************
Section_4*
********************/
.section_4 .business .card{
    margin-top: 50px;
    width: calc(33.33% - 14px);
    float: left;
}
.section_4 .business .card.col_central{
    margin-left: 20px;
    margin-right: 20px;
}


.business .card p{
    padding: 25px 58px 40px 0px;
}

.business .card h4{
    padding: 0;
}

.costumers{
    padding-top: 120px;
}
.costumers .title_2{
    width: 48%;
}
.costumers .more{
    padding: 30px 0;
}
