/*******************
Common*
********************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 85%;
    margin: auto;
}

/*******************
Utility*
********************/
.button{
    display: inline-block;
    color: white;
    background-color: #0061FF;
    padding: 5px 16px;
    text-decoration: none;
    font-weight: 100;
    font-size: 13px;
}


/*******************
Debug*
********************/

.debug nav{
    height: 100px;
}
.debug nav .navigation{
    height: 100%;
    background-color: red;
}

.debug #site_main .section_1{
    height: 600px;
}


.debug .section_1 .container .title{
    height: 200px;
    background-color: blue;
}

.debug .section_1 .container .col_left{
    height: 500px;
    background-color: blueviolet;
}

.debug .container .col_right{
    height: 500px;
    background-color: rgb(162, 226, 43);
}



/*******************
Header*
********************/
#site_header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#site_header nav .navigation{
    width: 40%;
    text-align: center;
    padding: 2rem 0;
    
}

nav .navigation.left {
    float: left;
}

nav .navigation.right {
    float: right;
}


nav .navigation div,
nav .navigation .link ul,
nav .navigation .link ul li {
    display: inline-block;
}

nav .navigation div{
    vertical-align: middle;
}

nav .navigation .logo, nav .navigation .link li a{
    padding-right: 30px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}



/*******************
Main*
********************/
#site_main{
    margin-top: 100px;
}

#site_main .section_1{
    padding-top: 80px;
    background-color: #B4D0E7;
}

.section_1 .container .col_left{
    width: 33.33%;
    float: left;
}

.debug .container .col_right{
    width: 66.66%;
    float: left;
}