*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
}

body{
  min-width: 1440px;
  background-color: #F7F5F2;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/*******************
debug*
********************/
.debug .top_planes{
  height: 300px;
  background-color: red;
}

.debug .bottom_planes .col_left{
  width: 50%;
  height: 600px;
  background-color: green;
}

.debug .bottom_planes .col_right{
  width: 50%;
  height: 600px;
  background-color: blue;
}



/*******************
Main*
********************/

/*******************
start_free*
********************/
.start_free .container_full .col_left,
.start_free .container_full .col_right{
  width: 50%;
}



.start_free .title h1,
.start_free .prova{
  font-size: 48px;
  padding: 25px;
}

.button.gigante{
  padding: 20px 0 20px 20px;
  font-weight: 700;
  position: relative;
  font-size: 16px;
  display: block;
}

.start_free .prova i{
  position: absolute;
  right: 24px;
}

.start_free .prova p{
  padding: 20px 0;
  font-size: 14px;
}

.description_business{
  background-color: #EEE9E2;
}
.description_business p{
  font-size: 20px;
  padding: 60px;
  text-align: center;
}

.container_full .col_right img{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
 .top_col{
   background-color: #F7F5F2;
 }
.image{
  position: relative;
  min-height: 546px;
  background-color: #B4C8E1;
}

/*******************
Planes*
********************/

.bottom_planes .col_left,
.bottom_planes .col_right{
  width: 50%;
  
}


.title_2{
  font-size: 40px;
  padding: 72px 0;
}

.title_2 h2{
  text-align: center;
}

.planes .fatturazione{
  padding: 0 0 32px;
}


.bottom_planes .schedule{
  padding: 32px 24px;
  background-color: white;
}
.bottom_planes .schedule .top_title{
  font-weight: bold;
  vertical-align: middle;
}
.bottom_planes .schedule .title{
  padding-top: 24px;
  font-size: 30px;
}

.bottom_planes .schedule .price{
  font-size: 24px;
}

.bottom_planes .schedule .durata{
  font-size: 16px;
}

.bottom_planes .schedule .price,
.bottom_planes .schedule .durata{
  padding-top: 8px;
}

.bottom_planes .schedule .button.gigante{
  margin-top: 32px;
}

.bottom_planes .schedule .more{
  margin-top: 24px;

}

.bottom_planes .schedule .more a{
  font-size: 16px;
  font-weight: bold;
}


